# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
- List popular languages for Data Science
- List popular libraries for Data Science
- List popular tools for Data Science

Some of the popular languages that Data Scientists use are:
1. Java
2. R
3. Python
4. C++

Some of the commonly used libraries used by Data Scientists include:

1. Numphy
2. Pandas
3. matplotlib
4. Seaborn

| Data Science Tools |
| -------------|
| RStudio | 
| TensorFlow | 
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
200/60

3.3333333333333335

## Author

Rashmi Menon